header {
  background-color: #ffffff;
  margin-bottom: 5px;
  border-bottom: #424b54 2px solid;
}
#header-name {
  color: #424b54;
  transition: all 0.8s ease 0s;
  font-family: nanummyeongjobold,'garamond';
  min-height: 25%;
  max-height: 100%;
}
#header-name:hover {
  font-size: 250%;
}
.nav-link {
  color: #424b54;
  margin-left:2% ;
  margin-right:2% ;
  border-radius: 6px;
  transition: all 0.8s ease 0s;
  font-family: nanumgothic;
}
.nav-link:hover {
  color: #9B6A6C;
  background-color: #E2B4BD;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
}
.display-4{
  font-family: nanummyeongjo;
  max-height: 50%;
  color: #424b54;
}
#inca {
  padding-right: 80px;
}
body {
  background-color: #ffffff;
  margin: 0;
}
#logo {
  padding-top: 3%;
  min-width: 5%;
  min-height: 5%;
  max-width: 150%;
  max-height: 150%;
  padding-bottom: 15px;
}
.inca-intro {
  padding-left: 10%;
  padding-right: 10%;
  min-height: 50%;
  max-height: 75%;
  text-indent: 50px;
  text-align: justify;
  font-family: nanumgothic;
  color: #424b54;
}