nav{
    height: 50px;
    background-color: #b6886a;
}
.navbar-nav{
    font-size: 20px;
    font-weight: 500;
}
.nav-link:hover{
    color: #f5f0ee;
    background-color: #6c462d;
    border-radius: 10px;
}
#active{
    color: #f5f0ee;
    background-color: #6c462d;
    border-radius: 10px;
}
body{
    background-color: #f8efe6;
}
#logo{
    margin-top: 110px;
    margin-bottom: 45px;
    width:400px ;
    height: 500px;
}
.inca-intro{
    margin-left:300px ;
    margin-right:300px ;
    text-indent: 50px;
    text-align: justify;
}