header {
  background-color: #ffffff;
  margin-bottom: 5px;
  border-bottom: #424b54 2px solid;
}
#header-name {
  color: #424b54;
  transition: all 0.8s ease 0s;
  font-family: nanummyeongjobold,'garamond';
  min-height: 25%;
  max-height: 100%;
}
#header-name:hover  {
  font-size: 250%;
}
.nav-link {
  color: #424b54 !important;
  margin-left:2% !important;
  margin-right:2% !important;
  border-radius: 6px !important;
  transition: all 0.8s ease 0s !important;
  font-family: nanumgothic !important;
}
.nav-link:hover {
  color: #9B6A6C !important;
  background-color: #E2B4BD !important;
  border-radius: 50px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

body {
  background-color: #ffffff;
  margin: 0;
}

.flashcard {
  width: 90vw;
  max-width: 62.5em;
  position: relative;
  margin: auto;
}

.add-flashcard-con {
  display: flex;
  justify-content: flex-end;
  padding: 1.2em 1em;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.add-flashcard-con {
  display: flex;
  justify-content: center;
  padding: 1.2em 1em;
}

.add-flashcard-con button,
#add-flashcard,
#delete-all-flashcards {
  font-size: 1em;
  background-color: #ffcccc; 
  color: gray;
  padding: 0.8em 1.2em;
  font-weight: 500;
  border-radius: 0.4em;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 0.5em;
}


#save-btn {
  font-size: 1em;
  background-color: gray;
  color: #ffcccc; 
  padding: 0.8em 1.2em;
  font-weight: 500;
  border-radius: 0.4em;
  transition: background-color 0.3s ease, color 0.3s ease;

}

#save-btn:hover {
  background-color: #ffbbbb; 
  color: gray;
  
}

.add-flashcard-con button:hover,
#add-flashcard:hover,
#delete-all-flashcards:hover {
  background-color: gray;
  color: #ffcccc; 
}

#card-con {
  margin-top: 1em;
}

.question-container {
  width: 90vw;
  max-width: 34em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em 2em;
  border-radius: 0.6em;
  box-shadow: 0 1em 2em rgba(28, 0, 80, 0.1);
}

.question-container h2 {
  font-size: 2.2em;
  color: #363d55;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2em;
}

#error {
  color: #ff5353;
  font-weight: 400;
}

.fa-xmark {
  font-size: 1.4em;
  background-color: gray;
  color: #ffcccc; 
  height: 1.8em;
  width: 1.8em;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  justify-self: flex-end;
}

.fa-xmark:hover {
  background-color: #ffcccc; 
  color: gray;
}

.fa-pen-to-square {
  color: #ffbbbb; 
}

label {
  color: #363d55;
  font-weight: 600;
  margin-bottom: 0.3em;
}

textarea {
  width: 100%;
  padding: 0.7em 0.5em;
  border: 1px solid #d0d0d0;
  outline: none;
  color: #414a67;
  border-radius: 0.3em;
  resize: none;
}

textarea:not(:last-child) {
  margin-bottom: 1.2em;
}

textarea:focus {
  border-color: #363d55;
}

.buttons-con {
  display: flex;
  justify-content: flex-end;
}

.edit,
.delete {
  background-color: transparent;
  padding: 0.5em;
  font-size: 1.2em;
}

.edit {
  color: #587ef4;
}

.delete {
  color: #ff5151;
}

.hide {
  display: none;
}

.card-list-container {
  display: grid;
  padding: 0.2em;
  gap: 1.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #f9d4d4; 
  box-shadow: 0 0.4em 1.2em rgba(28, 0, 80, 0.08);
  padding: 1.2em;
  border-radius: 0.4em;
}

.question-div,
.answer-div {
  text-align: justify;
}

.question-div {
  margin-bottom: 0.5em;
  font-weight: 500;
  color: #363d55;
}

.answer-div {
  margin-top: 1em;
  font-weight: 400;
  color: #414a67;
}

.show-hide-btn {
  display: block;
  background-color: #ffcccc; 
  color: gray;
  text-decoration: none;
  text-align: center;
  padding: 0.6em 0;
  border-radius: 0.3em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.show-hide-btn:hover {
  background-color: gray;
  color: #ffcccc; 
}

.wrapper {
  display: grid;
  grid-template-columns: 11fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}

.error-con {
  align-self: center;
}

#error {
  color: #ff8080;
  font-weight: 400;
}
