#logo{
    margin-top: 110px;
    margin-bottom: 45px;
    width:400px ;
    height: 500px;
}
.inca-intro{
    margin-left:300px ;
    margin-right:300px ;
    text-indent: 50px;
    text-align: justify;
}