nav{
    height: 30px;
    background-color: #b6886a;
}
.navbar-nav{
    font-size: 20px;
    font-weight: 400;
}
.nav-link:hover{
    color: #f5f0ee;
    background-color: #6c462d;
    border-radius: 10px;
}
#inca{
    padding-right: 80px;
}
body{
    background-color: #f8efe6;
    overflow-y: hidden;
    overflow-x: hidden;
}
#logo{
    padding-top:70px ;
    width:15% ;
    padding-bottom: 15px;
}
.inca-intro{
    padding-left:200px ;
    padding-right:200px ;
    text-indent: 50px;
    text-align: justify;
}