header {
  background-color: #ffffff;
  margin-bottom: 5px;
  border-bottom: #424b54 2px solid;
}
#header-name {
  color: #424b54;
  transition: all 0.8s ease 0s;
  font-family: nanummyeongjobold,'garamond';
  min-height: 25%;
  max-height: 100%;
}
#header-name:hover {
  font-size: 250%;
}
.nav-link {
  color: #424b54;
  margin-left:2% ;
  margin-right:2% ;
  border-radius: 6px;
  transition: all 0.8s ease 0s;
  font-family: nanumgothic;
}
.nav-link:hover {
  color: #9B6A6C;
  background-color: #E2B4BD;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
}
body {
  background-color: #ffffff;
  margin: 0;
}

#notes {
  margin-top: 30px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.btn {
  border-radius: 5px;
}

#addbtn {
  background-color: #6c462d;
  color: #fff; 
  border: none; 
  padding: 0.375rem 0.75rem; 
  font-size: 1rem; 
  line-height: 1.5; 
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
}

#addbtn:hover {
  background-color: #3aaea9;
}

#clrbtn {
  background-color: #6c462d;
  color: #fff; 
  border: none; 
  padding: 0.375rem 0.75rem; 
  font-size: 1rem; 
  line-height: 1.5; 
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
}

#clrbtn:hover {
  background-color: #ff4141;
}

.form-control {
  margin-bottom: 10px;
}

.card-body {
  background-color: bisque;
}

#titleInput {
  background-color: white; /* Adjust as needed */
}

.btn-delete {
  background-color: #6c462d;
  color: #fff; 
  border: none; 
  padding: 0.375rem 0.75rem; 
  font-size: 1rem; 
  line-height: 1.5; 
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out;
}

.btn-delete:hover {
  background-color: #ff4141;
}

.notecard {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  color: #333;
}

.card-text {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
}

.btn-edit {
  background-color: #6c462d;
  color: #fff; 
  border: none; 
  padding: 0.375rem 0.75rem; 
  font-size: 1rem; 
  line-height: 1.5; 
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out; 
}

.btn-edit:hover {
  background-color: #3aaea9;
  color: #fff;
}

.btn-edit:active {
  background-color: #ffa000; 
  color: #fff;
}
